.card {
  padding: 12px 16px;
  border-radius: 8px;
  background-color: #313030;

  &__title {
    margin-bottom: 14px;
    padding: 6px;
  }
  &__text {
    font-size: 20px;
    font-weight: 500;
  }
}